{% load thumbnail %}

<article class="card border border-primary">
  <div class="card-header">

    <ul>
      <!--Author-->
      <h3>
        {{ book.title }} //
        {{ book.book_author }}
      </h3>
      <li class="h6">
        {% if author %}
        Опубликовал на сайте: {{ book.author.get_full_name }}
        {% else %}
        Автор:
        <a href="{% url 'books:profile' book.author %}">
          {{ book.book_author }}
        </a>
        {% endif %}
      </li>

      <!--Pub_Date-->
      <li class="h6">
        Год издания: {{ book.book_year}}
      </li>
      <li class="h6">
        Издательство: {{ book.book_publisher }}
      </li>
    </ul>
  </div>
  <br>
  <!--book Info-->
  <div class="card mb-3" style="max-width: 1540px;">
    <div class="row g-1">
      <div class="col-md-4">
        <ul>
          {% thumbnail book.book_image "400x500" crop="center" padding=True as im %}
          <img src="{{ im.url }}" width="400" height="500">
          {% endthumbnail %}
        </ul>
        <ul><p><a href="{% url 'books:book_detail' book.pk %}">
          Подробная информация
        </a><br>
          {% if not category %}
          {% if book.category %}
          все записи раздела:
          <a href="{% url 'books:category_page' book.category.slug %}">
            {{ book.category }}
          </a>
          {% else %}
          <span style='color: red'>Этой публикации нет ни в одном разделе
        </span>
          {% endif %}
          {% endif %}
        </p></ul>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ book.title }}</h3>
          <p class="card-text">{{ book.description|linebreaks|truncatewords:125 }}</p>
        </div>
      </div>
    </div>
  </div>

  <ul>
    <class
    ="card-text" ><small class="text-muted">
    Автор публикации: admin-test
  </small> <br>
    <class
    ="card-text"><small class="text-muted">
    Опубликовано на сайте: {{ book.pub_date|date:"d E Y" }}
  </small>

  </ul>

  </div>
  {% if not forloop.last %}
  <hr>
  {% endif %}
</article>