{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h3>В проекте используются следующие технологии</h3>
  <p>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3 <br>
        Django <br>
        CSS и HTML <br>
        PyCharm <br>
      </li>
    </ul>
  </aside>
  </p>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
</div>
{% endblock %}